<!DOCTYPE html>
<html>
<body>
	<h1 style="color:red; font-size:850"> Welcome To QuizUp </h1>

	<h2 style="color:blue; font-size:150%"> Are you ready to take on the best of the best finely collected questions? </h2>


	<%= link_to 'QuizUp?', category_path, {:style=>'color:#FFFFFF; font-size:300%',:class => "btn btn-success"} %>
	<br /><br /><br />
	<%= link_to 'Leaderboard', leaderboard_path, {:style=>'color:#FFFFFF; font-size:300%',:class => "btn btn-info"} %>
	<br /><br /><br />
	<%= link_to 'Past Quizzes', pastquiz_path, {:style=>'color:#FFFFFF; font-size:300%',:class => "btn btn-warning"} %>
</body>
</html>	