<!DOCTYPE html>
<html>
<body>
	<h1 style="color:red">Leaderboard</h1>
	<h2 style="color:purple; font-size:300%">Choose Genre</h2>
	<br />

	<%= form_tag do %>
	<p style="color:blue">Category</p>
	<%= select_tag(:categorydrop, options_for_select(@categoryarr), {:class => "form-control"})%>
	<br />
	<button class="btn btn-primary"> submit </button>
	<% end %>
	<br />
	<%= link_to "Go to main page", landingpage_path, {:style=>'color:#FFFFFF;',:class => "btn btn-success"} %>
</body>
</html>